body {
  background-color: #f0ead6 !important;
}

h1 {
  margin: 2%;
}

#random {
  margin: 10px;
}

.articles {
  background-color: white;
  border-radius: 15px;
  border: 2px solid;
  margin: 10px;
  padding: 5px;
}

button {
  border-radius: 2px;
  border: 0.5px solid;
  margin: 2px;
}

.article-headers {
  margin: 10px;
}

.article-snippets {
  color: black;
  margin-left: 10px;
}

.article-snippets, a:hover {
  text-decoration: none !important;
}

.hide {
  display: none;
}

.show {
  display: initial;
}

.footer {
  text-align: center;
  margin-bottom: 10px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
}

.footer--not-fixed {
  text-align: center;
  margin-bottom: 10px;
  position: initial;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
}
