body {
  background-color: #f0ead6 !important;
}

h1, form {
  margin: 2% !important;
}

button {
  margin-top: 5px !important;
}

.articles {
  border: solid 1px black;
  margin: 10px;
}

.article-headers {
  margin: 10px;
}

.article-snippets {
  color: black;
  margin-left: 10px;
}

.article-snippets, a:hover {
  text-decoration: none !important;
}

.footer {
  text-align: center;
  margin-bottom: 10px;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
}
