body {
  background-color: #f0ead6 !important;
}

h1, form {
  margin: 2% !important;
}

button {
  margin-top: 5px !important;
}

.footer {
  text-align: center;
  margin-bottom: 10px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
}
