* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0ead6;
}

a {
  text-decoration: none;
}

.main-container {
  margin: 0 auto;
  width: 95%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2em;
  font-weight: 300;
  margin: 1em 0 0.5em 0;
}

.search-section {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 1em 0;
}

.input {
  display: inline-block;
  background-color: white;
  padding: 1px 0;
}

.button {
  border-radius: 2px;
  border: 0.5px solid;
}

.hide {
  display: none;
}

.show {
  display: initial;
}

.search-button {
  margin-left: 5px;
}

.back-button {
  align-self: flex-start;
}

.search-button, .back-button {
  padding: 5px 6px;
  font-weight: bold;
  background-color: lightgrey;
}

.random-button {
  display: inline-block;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border: 1px solid transparent;
  line-height: 1.25;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
}

.footer {
  text-align: center;
  margin-bottom: 10px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  font-size: 0.75em;
}

.footer--not-fixed {
  text-align: center;
  margin-bottom: 10px;
  position: initial;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  font-size: 0.75em;
}

.freecodecamp {
  text-decoration: none;
  color: #007bff;
}

.articles {
  background-color: white;
  border-radius: 0.5em;
  border: 2px solid;
  font-size: 0.75em;
  width: 97.5%;
  margin: 0 auto 1em;
}

.article-headers {
  margin: 0.5em;
  background-color: white;
}

.article-snippets {
  color: black;
  background-color: white;
  margin: 0.5em;
  width: 97.5%;
}
