.article-container {
  margin: 0;
  padding: 0;
}

.articles {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-size: .8rem;
    margin: 1rem auto;
    max-width: 400px;
    list-style: none;
    width: 92.5%;
  }

  .article-header {
    background-color: white;
    font-size: 1.1rem;
    margin: .5rem;
  }

  .article-link {
    color: black;
    text-decoration: none;
  }

  .article-snippet {
    margin: .5rem;
  }

  .articles:hover,
  .articles:hover .article-header,
  .articles:hover .article-snippet {
    background-color: darkgray;
  }
